
<div class="container">

  <div class="row">
    <div class="col col-sm-4"></div>
    <div class="col col-12 col-sm-6">
      <h2 style="font-weight: bold">Calculator - A simple JS/ Node/ Express/ Jade/ Bootstrap Excersise</h2>
      {{title}}
      <input type="text" id="score" class="form-control">
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col col-sm-4"></div>
    <div class="col col-12 col-sm-6">
      <button type="button" name="1" onclick="addNum('1')" class="btn btn-secondary">1</button>
      <button type="button" name="2" onclick="addNum('2')" class="btn btn-secondary">2</button>
      <button type="button" name="3" onclick="addNum('3')" class="btn btn-secondary">3</button>
      <button type="button" name="sum" onclick="sum()" class="btn btn-secondary">+</button>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col col-sm-4"></div>
    <div class="col col-12 col-sm-6">
      <button type="button" name="4" onclick="addNum('4')" class="btn btn-secondary">4</button>
      <button type="button" name="5" onclick="addNum('5')" class="btn btn-secondary">5</button>
      <button type="button" name="6" onclick="addNum('6')" class="btn btn-secondary">6</button>
      <button type="button" name="res" onclick="res()" class="btn btn-secondary">-</button>
    </div>
    <div class="col "></div>
  </div>
  <div class="row">
    <div class="col col-sm-4"></div>
    <div class="col col-12 col-sm-6">
      <button type="button" name="7" onclick="addNum('7')" class="btn btn-secondary">7</button>
      <button type="button" name="8" onclick="addNum('8')" class="btn btn-secondary">8</button>
      <button type="button" name="9" onclick="addNum('9')" class="btn btn-secondary">9</button>
      <button type="button" name="mul" onclick="mul()" class="btn btn-secondary">*</button>
    </div>
    <div class="col "></div>
  </div>
  <div class="row">
    <div class="col col-sm-4"></div>
    <div class="col col-12 col-sm-6">
      <button type="button" name="0" onclick="addNum('0')" class="btn btn-secondary">0</button>
      <button type="button" name="reset" onclick="reset()" class="btn btn-secondary">reset</button>
      <button type="button" name="result" onclick="result()" class="btn btn-secondary">result</button>
    </div>
    <div class="col"></div>
  </div>
</div>
<script type="text/javascript" src='js/calc.js'></script>
  <!-- <h1>{{{title}}}</h1>
<input type="text" id="score" class="form-control">
      <button type="button" name="1" onclick="addNum('1')" class="btn btn-secondary">1</button>
      <button type="button" name="2" onclick="addNum('2')" class="btn btn-secondary">2</button>
      <button type="button" name="3" onclick="addNum('3')" class="btn btn-secondary">3</button>
      <button type="button" name="sum" onclick="sum()" class="btn btn-secondary">+</button>

      <button type="button" name="4" onclick="addNum('4')" class="btn btn-secondary">4</button>
      <button type="button" name="5" onclick="addNum('5')" class="btn btn-secondary">5</button>
      <button type="button" name="6" onclick="addNum('6')" class="btn btn-secondary">6</button>
      <button type="button" name="res" onclick="res()" class="btn btn-secondary">-</button>

      <button type="button" name="7" onclick="addNum('7')" class="btn btn-secondary">7</button>
      <button type="button" name="8" onclick="addNum('8')" class="btn btn-secondary">8</button>
      <button type="button" name="9" onclick="addNum('9')" class="btn btn-secondary">9</button>
      <button type="button" name="mul" onclick="mul()" class="btn btn-secondary">*</button>

      <button type="button" name="0" onclick="addNum('0')" class="btn btn-secondary">0</button>

      <button type="button" name="reset" onclick="reset()" class="btn btn-secondary">reset</button>
      <button type="button" name="result" onclick="result()" class="btn btn-secondary">result</button>

-->
